.navbar{
  display: flex;
  justify-content: center;
  backdrop-filter: blur(2px);
  background: transparent;
  background-color: rgba(242,101, 55, 0.2);
  }

a.nav {
  padding: 50px 0% 50px 45px;
  font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
  width: 20%;
}



li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
body{
 background-image: url('images/higher quality bg.jpg');
 background-size: 100%;
}

div a:hover {
background-color: rgb(242, 101, 55);
opacity:0.5;
}


.page1div1 {
text-align: center;
 backdrop-filter: blur(5px);
  background: transparent;
  max-width: 1200px;
  padding: 5px;
  margin: 0 auto;
}
.page2div1 {
text-align: center;
}

.Header1 {
text-align:center;
}

.Header2 {
text-align:center;
}


#page2

.Header2 {
display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows: repeat(20, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}




.Header3     {
display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows: repeat(20, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}



