.navbar{
  display: flex;
  justify-content: center;
  background: transparent;
  background-color: rgba(242,101, 55, 0.2);
  }

a.nav {
  padding: 50px 0% 50px 45px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
  width: 20%;
  opacity: 1;
}

body{
 background-image: url('images/higher quality bg.jpg');
 background-size: 100%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
 backdrop-filter: blur(0.5px);
 opacity: 1;
}


.div1 { grid-area: 1 / 1 / 2 / 11; }
.div2 { grid-area: 2 / 1 / 3 / 11; }
.div3 { grid-area: 3 / 1 / 6 / 8; }
.div4 { grid-area: 3 / 8 / 6 / 11; }
.div5 { grid-area: 6 / 1 / 10 / 11; }

#page2

.Header2 {
display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows: repeat(20, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 3 / 11; }
.div2 { grid-area: 3 / 1 / 5 / 11; }
.div3 { grid-area: 5 / 1 / 9 / 8; }
.div4 { grid-area: 9 / 1 / 13 / 8; }
.div5 { grid-area: 13 / 1 / 17 / 8; }
.div6 { grid-area: 17 / 1 / 21 / 8; }
.div7 { grid-area: 5 / 8 / 9 / 11; }
.div8 { grid-area: 9 / 8 / 13 / 11; }
.div9 { grid-area: 13 / 8 / 17 / 11; }
.div10 { grid-area: 17 / 8 / 21 / 11; }

#page3

.Header3     {
display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows: repeat(20, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 3 / 11; }
.div2 { grid-area: 3 / 1 / 5 / 11; }
.div3 { grid-area: 5 / 1 / 10 / 8; }
.div4 { grid-area: 10 / 1 / 15 / 8; }
.div5 { grid-area: 15 / 1 / 20 / 8; }
.div6 { grid-area: 5 / 8 / 10 / 11; }
.div7 { grid-area: 10 / 8 / 15 / 11; }
.div8 { grid-area: 15 / 8 / 20 / 11; }

